.attendance__content {
    border-radius: 10px;
    padding: 30px;
    max-width: 1230px;
    margin: 0 auto;
}

.date-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.date-navigation a {
    text-decoration: none;
    color: #007bff;
    font-size: 24px;
    margin: 0 20px;
}

.date-navigation h2 {
    margin: 0;
    font-size: 24px;
}

.attendance__table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.attendance__table th,
.attendance__table td {
    border-bottom: 1px solid #9b9b9b;
    padding: 12px;
    text-align: center;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pagination nav {
    display: inline-block;
}

.pagination ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.pagination li {
    margin: 0 2px;
}

.pagination a,
.pagination span {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #007bff;
    color: #007bff;
    border-radius: 3px;
}

.pagination .disabled span {
    color: #6c757d;
    border-color: #6c757d;
}

.pagination .active span {
    background-color: #007bff;
    color: #fff;
}